<footer class="grid-footer">
    <nav class="footer-nav-left">
        <ul>
            <li>@Privett Enterprise</li>
            <li><a href="/about"><strong>about</strong></a></li>
            <li><a href="/contact"><strong>contact</strong></a></li>
        </ul>
    </nav>
    <nav class="footer-nav-right">
        <ul>
            <li ><img src="/images/5296516_tweet_twitter_twitter_logo_icon.png" alt="twitter logo"></li>
            <li ><img src="/images/5365678_fb_facebook_facebook_logo_icon.png" alt="facebook logo"></li>
            <li ><img src="/images/5296501_linkedin_network_linkedin_logo_icon.png" alt="linkedin logo"></li>
        </ul>
    </nav>
</footer>
</body>
</html>