<%- include('./partials/header.ejs') %>
    <main class="grid-main">
        <div></div>
        <div>
            <h1>About us</h1>
            <p>At PE Events we are active memebers in the Charlotte community with the goal 
                to allow all memebers of this great community to socialize through amazing events!</p>
            <br>
        </div>
        <div></div>
    </main>
<%- include('./partials/footer.ejs') %>