<%- include('./partials/header.ejs') %>
    <main class="grid-main">
        <div></div>
        <div>
            <h1>Contact Us</h1>
            <p>PLEASE DON'T</p>
            <br>
        </div>
        <div></div>
    </main>
<%- include('./partials/footer.ejs') %>