<%- include('./partials/header.ejs') %>
    <main class="grid-main">
        <div></div>
        <div>
            <h1>Welcome to PE Events</h1>
            <p>PE Events is the #1 event creation platform in Charlotte and surrounding areas. Create anything
                from Birthday parties, graduation parties, business outing, videogame tournements, ect. Events are a 
                great way to connect with people throughout the greater Charlotte area.</p>
            <br>
            <p>Check out our Events tab to browse available events!</p>
        </div>
        <div></div>
    </main>
<%- include('./partials/footer.ejs') %>